@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --text-color: #111111;
  --nav-bar-background: #bebebe;
  --h2-text-color: #ffcb74;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --text-color: #f6f6f6;
    --nav-bar-background: #2f2f2f;
  }
}
section{
  background: var(--background);
}

h1,h2{
  color: var(--h2-text-color);
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  display: inline-block; /* or block, depending on layout */
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color:#ffcb74;
  text-decoration: none;
  transition: background 0.2s ease, color 0.2s ease;
}

.nav-bar {
  background: var(--nav-bar-background);
}

.nav-link:hover {
  background: #ffcb74;
  color: var(--background);
  font-weight: bold;
  text-decoration: underline;
}
